src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" 
xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" 
xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" 
xmlns:json="http://www.mulesoft.org/schema/mule/json" 
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd" >
    
    <batch:job name="migrateUsersBatch" max-failed-records="-1">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <dw:transform-message doc:name="Create GetWorkers Request">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	requestCriteria: {
		transactionLogCriteriaData: [{
			transactionDateRangeData: {
				updatedFrom:     p('migration.startDate') as :datetime {class: "java.util.Calendar"},
				updatedThrough:  (now - |PT6S|) as :datetime {class: "java.util.Calendar"}
			}
		}]
	},
	responseGroup: {
		includeEmploymentInformation  : true,
		includeManagementChainData    : true,
		includeOrganizations          : true,
		includePersonalInformation    : true,
		includeReference              : true,
		includeRoles                  : true,
		includeTransactionLogData     : true,
		includeUserAccount            : true
	}
} as :object {class : "com.workday.hr.GetWorkersRequestType"}]]></dw:set-payload>
            </dw:transform-message>
            <wd-hr:get-workers config-ref="Workday_Human_Resource" doc:name="Get Workers from Workday" />
            <set-payload value="#[payload.responseData == null ? null : payload.responseData.worker]" doc:name="Extract a list of Workers"/>

            <custom-filter doc:name="Filter duplicate workers" class="org.mule.templates.WorkersDeduplicationFilter"/>
        </batch:input> 
        <batch:process-records>

            <batch:step name="getUserInSnowStep" accept-expression="payload != null">
                <enricher source="#[payload == null ? null : payload[0].Id]" target="#[recordVars.snowUserId]" doc:name="store user Id in record var 'snowUserId'">
                    <processor-chain doc:name="Processor Chain">
                        <dw:transform-message doc:name="Create getRecords Request">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/sys_user
---
using (personalData = payload.workerData.personalData)
{
	ns0#getRecords: {
		(ns0#email: personalData.contactData.emailAddressData[0].emailAddress) when (payload.workerData.userAccountData == null or payload.workerData.userAccountData.userName == null),
		(ns0#"first_name": personalData.nameData.preferredNameData.nameDetailData.firstName) when (payload.workerData.userAccountData == null or payload.workerData.userAccountData.userName == null),
		(ns0#"last_name": personalData.nameData.preferredNameData.nameDetailData.lastName) when (payload.workerData.userAccountData == null or payload.workerData.userAccountData.userName == null),
		(ns0#"user_name": payload.workerData.userAccountData.userName) when (payload.workerData.userAccountData != null and payload.workerData.userAccountData.userName != null)
	}
}]]></dw:set-payload>
                        </dw:transform-message>
                        <servicenow:invoke config-ref="ServiceNow" type="sys_user||getRecords" doc:name="query user in ServiceNow"/>
                        <dw:transform-message doc:name="Get User ID">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.service-now.com/sys_user
---
payload.ns0#getRecordsResponse map
{
	Id: $.ns0#sys_id
} when payload.ns0#getRecordsResponse is :object otherwise [{Id: null}]]]></dw:set-payload>
                        </dw:transform-message>

                    </processor-chain>

                </enricher>
            </batch:step>

            <batch:step name="createUsersInServiceNowStep" accept-expression="payload != null &amp;&amp; recordVars.snowUserId == null">
                <dw:transform-message doc:name="Create insert Request">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/sys_user
---
using (personalData = payload.workerData.personalData)
{
	ns0#insert: {
		ns0#active        : payload.workerData.employmentData.workerStatusData.active,
		ns0#city          : personalData.contactData.addressData[-1].municipality,
		ns0#country       : personalData.contactData.addressData[-1].countryReference.ID[1].value,
		ns0#email         : personalData.contactData.emailAddressData[0].emailAddress,
		ns0#"first_name"  : personalData.nameData.preferredNameData.nameDetailData.firstName,
		ns0#"home_phone"  : personalData.contactData.phoneData[-1].formattedPhone,
		ns0#"last_name"   : personalData.nameData.preferredNameData.nameDetailData.lastName,
		ns0#"middle_name" : personalData.nameData.preferredNameData.nameDetailData.middleName,
		ns0#state         : personalData.contactData.addressData[-1].countryRegionReference.ID[-1].value,
		ns0#street        : personalData.contactData.addressData[-1].addressLineData[-1].value,
		(ns0#"user_name"  : payload.workerData.userAccountData.userName) when (payload.workerData.userAccountData != null and payload.workerData.userAccountData.userName != null),
		ns0#"zip"         : personalData.contactData.addressData[-1].postalCode
	}
}]]></dw:set-payload>
                </dw:transform-message>


                <servicenow:invoke config-ref="ServiceNow" type="sys_user||insert" doc:name="ServiceNow"/>



            </batch:step>
            <batch:step name="updateUsersInServiceNowStep" accept-expression="payload != null &amp;&amp; recordVars.snowUserId != null">


                <dw:transform-message doc:name="Create update Request">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/sys_user
---
using (personalData = payload.workerData.personalData)
{
	ns0#update: {
		ns0#active       : payload.workerData.employmentData.workerStatusData.active,
		ns0#city         : personalData.contactData.addressData[-1].municipality,
		ns0#country      : personalData.contactData.addressData[-1].countryReference.ID[1].value,
		ns0#email        : personalData.contactData.emailAddressData[0].emailAddress,
		ns0#"first_name" : personalData.nameData.preferredNameData.nameDetailData.firstName,
		ns0#"home_phone" : personalData.contactData.phoneData[-1].formattedPhone,
		ns0#"last_name"  : personalData.nameData.preferredNameData.nameDetailData.lastName,
		ns0#"middle_name": personalData.nameData.preferredNameData.nameDetailData.middleName,
		ns0#state        : personalData.contactData.addressData[-1].countryRegionReference.ID[-1].value,
		ns0#street       : personalData.contactData.addressData[-1].addressLineData[-1].value,
		ns0#"sys_id"     : recordVars.snowUserId,
		(ns0#"user_name" : payload.workerData.userAccountData.userName) when (payload.workerData.userAccountData != null and payload.workerData.userAccountData.userName != null),
		ns0#"zip"        : personalData.contactData.addressData[-1].postalCode
	}
}]]></dw:set-payload>
                </dw:transform-message>


                <servicenow:invoke config-ref="ServiceNow" type="sys_user||update" doc:name="ServiceNow"/>



            </batch:step>
        </batch:process-records>
         <batch:on-complete>
            <scatter-gather doc:name="All">
                <processor-chain>
            		<json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON"/>
            		<logger message="Migration process has finished: #[payload]" level="INFO" doc:name="log 'Migration process has finished'"/>
                </processor-chain>
				<processor-chain>
                    <parse-template location="email/body.html" doc:name="Parse Template"/>
                    <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="gmailConnector" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" doc:name="send mail"/>
				</processor-chain>
            </scatter-gather>
        </batch:on-complete>
    </batch:job>
    <flow name="mainFlow"  processingStrategy="synchronous" doc:description="This flow is the entry point to the Kick business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Kick exposes to trigger it.

">
        <batch:execute name="migrateUsersBatch" doc:name="trigger migrateUsersBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultChoiceExceptionStrategy"/>
    </flow>
    
    
</mule>
